img {
  width: 300px;
  height: 300px;
}

.Ravenclaw {
  border: 6px solid red;
}

.Slytherin {
  border: 6px solid seagreen;
}

.Hufflepuff {
  border: 6px solid yellow;
}

.Gryffindor {
  border: 6px solid blue;
}

span {
  font-size: 20px;
  color: white;
}
