h1,
h4 {
  color: orange;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h1 {
  font-size: 80px;
  text-shadow: 2px 2px 8px rgb(212, 18, 18);
  padding-bottom: 50px;
}

h4 {
  font-size: 50px;
}

/* h1 {
  font-size: 90px;
  text-shadow: 2px 2px 8px rgb(212, 18, 18);
  padding-bottom: 50px;
} */
